#app {
  padding: 20px;
  text-align: center;
}

#footer {
  margin-top: 20px;
  color: gray;
}

#game {
  display: flex;
}

#sidebar {
  display: flex;
  flex-direction: column;
  width: 340px;
}

#sidebar .promotion {
  display: flex;
  flex-direction: column;
}

#sidebar .button {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  border: 1px solid black;
  padding: 10px;
}

#sidebar .button.flash {
  animation: 3s ease-out button-flash;
}

@keyframes button-flash {
  from {
    background-color: hsl(128 80% 90%);
  }

  to {
  }
}

div.square {
  padding: 16px;
}

div.square.white {
  background-color: white;
}
div.square.white.highlight {
  background-color: hsl(128 80% 90%);
}

div.square.black {
  background-color: black;
}
div.square.black.highlight {
  background-color: hsl(128 80% 10%);
}

div.square.error {
  animation-duration: 0.5s;
  animation-name: error-flash;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

@keyframes error-flash {
  from {
    background-color: red;
  }

  to {
  }
}
